:root{
    --vermelho: #e50914;
    --preta: #141414;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Elementos base */

body{
    background: var(--preta);
    font-family: 'Arial', Times, serif;
    color: white;
}

header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header .logo{
    margin-left: 5px;
    color: var(--vermelho);
    font-family: 'Arial Black';
    font-size: 50px;
    text-align: left;
}

header nav a{
    text-decoration: none;
    color: #AAA;
    margin-right: 20px;
    
}

header nav a:hover{
    color: #FFFF;
}

/* Filme principal */

.filme-principal{
    font-size: 17px;
    background: linear-gradient(rgba(0, 0, 0, .50), rgba(0, 0, 0, .50)100%), url('../img/Capa-Gotham.jpg');

    height: 760px;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.filme-principal .sinopse{
    margin-bottom: 50px;
    margin-top: 30px;
}

.titulo{
    margin-top: 20%;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.assistir{
    background-color: rgba(0, 0, 0, .50);
    border: none;
    color: white;

    padding: 20px 40px;
    margin-right: 15px;
    font-size: 13px;

    cursor: pointer;
    transition: .5s;
}

.assistir:hover{
    background-color: #FFFF;
    color: #141414;
}

.assistir i{
    margin-right: 10px;
}

.informacao{
    background-color: rgba(0, 0, 0, .50);
    border: none;
    color: white;

    padding: 20px 40px;
    margin-right: 15px;
    font-size: 13px;

    cursor: pointer;
    transition: .5s;
}

.informacao:hover{
    background-color: #FFFF;
    color: #141414;
}

.informacao i{
    margin-right: 10px;
}

.container{
    margin-left: 20px;
}

.filme-principal .container{
    width: 60%;
}

.box-filme{
    height: 100%;
    width: 100%;
    display: block;
}

.carrosel-filmes{
    margin-top: 10px;
}

.item{
    position: relative;
    top: 0;
}
.item:hover{
    padding: 20px;
    box-shadow: 0px 0px 15px #FFFF;
    transition: all .3s ease-in-out;
}

/* Modal */

.modal-container{
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: transparent;

    top: 0px;
    left: 0px;
    z-index: 2900;
    display: none;
    justify-content: center;
    align-items: center;
}

.modal{
    background: rgba(0, 0, 0, .70);
    width: 620px;
    min-width: 300px;
    padding: 30px;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, .75) 0px 0px 10px ;
    position: relative;
}

.modal-container.mostrar{
    display: flex;
}

@keyframes modal {
    from {
        opacity: 0;
        transform: translateX(0px) translateY(calc(-157px + 2em)) scaleX(1) scaleY(1) translateZ(0px);
        /* transform: translate3d(0, -68px, 0); */
    }
    to {
        opacity: 1;
        transform: translateX(0) translateY(calc(0)) scaleX(0) scaleY() translateZ(0px);
        /* transform: translate3d(0, -68px, 0); */
    }
}
.mostrar .modal {
    animation: modal .3s;
}

.fechar-modal{
    position: absolute;
    top: -30px;
    right: -30px;
    cursor: pointer;
}

.fechar{
    margin: 1em;
    width: 60px;
    height: 60px;
    background-color: rgba(0, 0, 0, .75);
    box-shadow: rgba(0, 0, 0, .3) 0px 4px 0px ;
    color: #FFFF;
    border-radius: 50%;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.fechar:hover{
    padding: 10px;
    box-shadow: 0px 0px 10px #FFFF;
    transition: all .5s ease-in-out;
}

/* Video modal */

.trailer{
    width: 560px;
    height: 315px;
}

/* Responsividade */

@media screen and (max-width: 700px){
    header .container{
        display: flex;
        flex-direction: column;
    }

    .assistir{
        margin-top: 5px;
        width: 195px;
    }

    .informacao{
        margin-top: 5px;
        width: 195px;
    }
    
    .modal-container{
        width: 100%;
    }

    .trailer{
        width: 100%;
    }
}

@media screen and (min-width: 1000px) {
    .sinopse{
        width: 50%;
    }
   
}